html, body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95rem;
}

.wrapper {
	box-sizing: border-box;
	padding: 20px;
}

.splash {
	height: 100vh;
	background-color: rgb(31, 31, 31);
}

/* Rappels :

Phones responsive :
@media screen and (min-width: 512px) {
}

Tablets responsive :
@media screen and (min-width: 1024px) {
}

*/